<template>
      <select title="category" class="ma2" v-model.number="selected" >
        <option selected value="1">Extemporaneous Debate</option>
        <option value="2">Congressional Debate (House and Senate)</option>
        <option value="3">Public Forum Debate</option>
        <option value="4">Policy Debate</option>
        <option value="5">Lincoln-Douglas Debate</option>
        <option value="6">United States Extemporaneous Speaking</option>
        <option value="7">Storytelling (Middle School)</option>
        <option value="8">Prose (Middle School)</option>
        <option value="9">Program Oral Interpretation</option>
        <option value="10">Poetry (Middle School)</option>
        <option value="11">Original Oratory</option>
        <option value="12">Mixed Extemporaneous Speaking (Middle School)</option>
        <option value="13">International Extemporaneous Speaking</option>
        <option value="14">Informative Speaking</option>
        <option value="15">Impromptu (Middle School)</option>
        <option value="16">Impromptu (Middle School)</option>
        <option value="17">Humorous Interpretation</option>
        <option value="18">Duo Interpretation</option>
        <option value="19">Dramatic Interpretation</option>
      </select>
</template>

<script>
export default {

  name: 'category',

  data () {
    return {
    	selected: this.event
    };
  },
  mounted() {
    this.selected = 1
  },
  watch: {
  	'selected': function(newEvent) {
    		this.$emit('update:changed', this.selected)
  	}
  },
  methods: {},
  props: ['event'],
}
</script>

<style lang="scss" scoped>
</style>