<template>
<div>
  <Category @update:changed="value => {eventChanged(value)}"></Category>

  <div v-for=" event in this.events ">
    <div v-show="showEvent(event.id)">
      <div v-for="room in event.rooms">
        <div class="rooms">
          <span class="room_tab">{{room.id}}</span>
          <span class="room_tab">{{room.id}}</span>
          <span class="room_tab">{{room.id}}</span>
            <div v-for="score in room.scores">
              <div class="scores">
                <label>{{ score.student_id }}</label>
                <input v-model="score.score" type="number">
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</template>

<script>
  import Score from './score.vue'
  import Category from './category.vue'

  export default {

    created() {},

    mounted() {},

    data() {
      return {
        eventShown: 1,
      };
    },
    

    computed: {},

    methods: {
      /**
       * This event is sent up from the child Category
       */
      eventChanged(event) {
        this.eventShown = event
        console.log(this.eventShown)
      },

      showEvent(event){
        return this.eventShown === event
      }
    },

    watch: {},

    components: {Score, Category},

    props: ['events']

  }
</script>

<style lang="scss" scoped>
.room_tab {
  border: solid 2px;
  border-color: red;  
}
</style>