<template>
    <div class="card">

        <div class="flex-row">
            <div class="pa1 ">
                <h3 class="text-center text-bold">Students</h3>
                <p class="text-center">{{ students }}</p>
            </div>
            <div class="pa1 ">
                <h3 class="text-center text-bold">Staff</h3>
                <p class="text-center">{{ staff }}</p>
            </div>
            <div class="pa1 ">
                <h3>Upcoming Events</h3>
                <p class="text-center">{{ tournaments }}</p>
            </div>

            <div class="pa1 ma6 fg-fill center">
                <label>School Name
                    <input type="text" v-model="school.name">
                </label>
                <button v-on:click="saveSchool">Save</button>
            </div>
        </div>



    </div>

</template>

<script>
  export default {
    created() {

    },
    mounted() {
      console.log('mounted');

      axios.get('/school',)
        .then((response) => {
          // TODO clean up console.log
          console.log(response.data);

          this.school = response.data.school;
          this.students = response.data.student_count;
          this.staff = response.data.staff_count;
          this.tournaments = response.data.tournaments;
        })
        .catch((error) => {
          console.log(error);
        });
    },
    data() {
      return {
        school: {},
        students: 0,
        staff: 0,
        tournaments: 0
      }
    },

    computed: {},
    methods: {
      saveSchool(){
        axios.put('/school', this.school)
          .then((response) => {
            console.log(response);
          })
          .catch((error) => {
            console.log(error)
          });
      }
    },
    watch: {}

  }
</script>

<style>
</style>