<template>
    <div><h3>I am the settings page</h3></div>
</template>

<script>
  export default {
    created() {
    },
    mounted() {
    },
    data() {
      return {}
    },

    computed: {},
    methods: {},
    watch: {}

  }
</script>

<style>
</style>