<template>
    <div class="card">
        <div class="staff-display">
            <div class="title-row">
                <h3>Name</h3>
                <h3>Email</h3>
                <h3>Role</h3>
                <h3>Delete</h3>
            </div>
            <div v-for="person in staff">
                <input v-model="person.name" type="text">
                <input v-model="person.email" type="email">
                <select v-model="person.account_level" name="role" id="role">
                    <option value="0">Admin</option>
                    <option value="1">Judge</option>
                    <option value="2">Coach</option>
                    <option value="3">Requesting Invite</option>
                </select>
                <button v-on:click="deleteStaff(person)" class="delete"></button>
            </div>
        </div>
    </div>
</template>

<script>
  export default {
    created() {
    },
    mounted() {
      axios.get('/staff')
        .then((response) => {
            console.log(response);
            this.staff = response.data;
        })
        .catch((error) => {
            console.log(error);
        })
    },
    data() {
      return {
        staff: {}
      }
    },

    computed: {},
    methods: {
      deleteStaff(person) {
        // TODO send delete request
        console.log(person.id)
      }
    },
    watch: {}

  }
</script>

<style>
</style>