<template>
    <div class="card">
            <div class="child-inline pl5 pt3 pb3">
                <h3>Name</h3>
                <h3>Category</h3>
                <h3>Grade</h3>
                <h3>Delete</h3>
            </div>
            <div class="pl5 pt2 pb2 hover" v-for="student in students" >
                <input type="text" class="text-left pr2 pt2 pb2" v-model="student.name">
                <select title="grade" class="ma2" v-model="student.grade">
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                </select>
                <select title="category" class="ma2" v-model="student.category">
                    <option value="1">Extemporaneous Debate</option>
                    <option value="2">Congressional Debate (House and Senate)</option>
                    <option value="3">Public Forum Debate</option>
                    <option value="4">Policy Debate</option>
                    <option value="5">Lincoln-Douglas Debate</option>
                    <option value="6">United States Extemporaneous Speaking</option>
                    <option value="7">Storytelling (Middle School)</option>
                    <option value="8">Prose (Middle School)</option>
                    <option value="9">Program Oral Interpretation</option>
                    <option value="10">Poetry (Middle School)</option>
                    <option value="11">Original Oratory</option>
                    <option value="12">Mixed Extemporaneous Speaking (Middle School)</option>
                    <option value="13">International Extemporaneous Speaking</option>
                    <option value="14">Informative Speaking</option>
                    <option value="15">Impromptu (Middle School)</option>
                    <option value="16">Impromptu (Middle School)</option>
                    <option value="17">Humorous Interpretation</option>
                    <option value="18">Duo Interpretation</option>
                    <option value="19">Dramatic Interpretation</option>
                </select>
                <button>Delete</button>
            </div>
    </div>
</template>

<script>

  export default {
    created() {
    },
    mounted() {
      axios.get('/students')
        .then((response) => {
            console.log(response);
            this.students = response.data
        })
        .catch((error) => {
            console.log(error);
        });
    },
    data() {
      return {
        students: {}
      }
    },

    computed: {},
    methods: {},
    watch: {},
    components: {
    }

  }
</script>

<style>
</style>