<template>
    <div>
        <div class="menu-bar">
            <input class="search" type="text" title="Search Tournaments"><button>Search</button>
            <router-link to="/tournaments/create" class="button">Create Tournament</router-link>
        </div>

        <div class="card">
            <div class="card-internal">
                <h2>Event Titles</h2>
                <div v-for="tournament in tournaments">
                    <router-link :to="{ name: 'view_tournament',  params: { id: tournament.id }}" class="tournament-row">{{ tournament.title }} - {{ tournament.date }} - {{ tournament.rounds }} - {{ tournament.id }}</router-link>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
  export default {

    created() {
      axios.get('/tournaments')
        .then((response) => {
          this.tournaments = response.data;
        })
        .catch((error) => {
          console.log(error);
        });
    },

    mounted() {
    },

    data() {
      return {
        tournaments: {},
      }
    },

    computed: {},

    methods: {},

    watch: {}

  }
</script>

<style>
</style>