@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
@import "~normalize.css";
@import "spacing";
@import "variables";
@import "typeograhpy";
@import "input";
@import "position";

html {
  background-color: #D8D8D8;
}

html {
  >* {
    font-family: 'Raleway', sans-serif;
  }

  a {
    text-decoration: none;
  }
}


html, body, #app {
  margin: 0;
  height: 100%;
}

#app {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.left-menu {
  background-color: $main-color;
  order: 0;
  flex-basis: 0;
  min-width: 250px;

  a {
    display: block;
    color: $font-light;
    padding: 1em;
    text-align: center;
    transition: background-color .5s ease;
    background-color: $main-color;

    &:hover {
      transition: background-color .5s ease;
      background-color: lighten($main-color, 20%);
    }
  }
  .router-link-active {
    background-color: lighten($main-color, 20%);
  }
}

.tournament-row {
  &:hover {
    background-color: $break-color;
  }
}

.title-row {
  h3 {
    display: inline;
  }
}

.delete {
  border: none;
  background: url('../images/delete.svg') no-repeat;
  min-width: 32px;
  min-height:32px;
}

button, .button {
  color: $font-light;
  background-color: $main-color;
  min-width: 100px;
  min-height: 37px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: none;

  -webkit-box-shadow:  0px 4px 4px 2px rgba(0,0,0,0.17);
  -moz-box-shadow:  0px 4px 4px 2px rgba(0,0,0,0.17);
  box-shadow:  0px 4px 4px 2px rgba(0,0,0,0.17);
  transition: box-shadow .1s linear;

  &:hover {
    background-color: lighten($main-color, 10%);
    -webkit-box-shadow:  2px 4px 8px 0px rgba(46,61,73,0.2);
    -moz-box-shadow:  2px 4px 8px 0px rgba(46,61,73,0.2);
    box-shadow:  2px 4px 8px 0px rgba(46,61,73,0.2);
    transition: box-shadow .1s linear;
  }

  &:active {

  }
}

.button {
  padding: 1em;
}

.content {
  margin: 1em;
  width: 100%;
}

.card, .menu-bar {
  background-color: white;
  width: auto;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: none;

  -webkit-box-shadow:  8px 10px 20px 0 rgba(46,61,73,0.15);
  -moz-box-shadow:  8px 10px 20px 0 rgba(46,61,73,0.15);
  box-shadow:  0px 0px 20px 0 rgba(46,61,73,0.30);
}

.menu-bar {
  padding: 1.0em;
}
