.block { display: block; }

.inline { display: inline; }

.child-inline {
  > p,h1,h2,h3,h4,h5,h6 {
    display: inline;
  }
}
.fit { width: auto; }

.center {
  margin: 0 auto;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: nowrap;
}

.fg1 {
  flex: 1;
}

.fg2 {
  flex: 2;
}

.fg-fill {
  flex-basis: 100%;
}