.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-bold {
  font-weight: bold;
}

.text-strike {
  text-decoration: line-through;
}
.text-underline {
  text-decoration: underline;
}