<template>
    <div>
        <label>Event Title
            <input v-model="tournament.title" type="text">
        </label>
        <label>
            Number of rounds (including final round)
            <input v-model="tournament.rounds" type="number">
        </label>
        <label>
            Event Date
            <input v-model="tournament.date" type="date">
        </label>
        <button v-on:click="createEvent()">Create!</button>
    </div>
</template>

<script>
  export default {
    created() {

    },
    mounted() {
    },
    data() {
      return {
        tournament: {
          title: '',
          rounds: 0,
          date: '',
        }
      }
    },

    computed: {},
    methods: {
      createEvent() {
        axios.post('/tournaments', this.tournament)
          .then((response) => {
            this.$router.push('/tournaments/' + response.data);
          })
          .catch((error) => {
            // TODO handle error
            console.log(error);
          });
      }
    },
    watch: {}

  }
</script>

<style>
</style>