<template>
    <div
    >
        <div class="card">
          <div class="pa2">
            <div>
              <button class="ma1">End Round</button>
              <button class="ma1">Start Round</button>
              <button class="ma1">Create Final Round</button>
            </div>
            
            <p>Time Since Round Start - <span class="round-time">45 min</span></p>
          </div>
        </div>

        <div class="card mt3">
            <div v-for="(round, index) in tournament.rounds" class="pa3">

                <button v-if="index === tournament.rounds.length-1" v-on:click="changeRound(round)">Final Round</button>
                <button v-else v-on:click="changeRound(round)">Round {{ round.round_number }}</button>

                <TournamentRound v-show=" round === showRound" v-bind:events="round.events">
                </TournamentRound>
            </div>
        </div>

    </div>
</template>

<script>
  import TournamentRound from './../../components/round.vue';
  export default {

    created() {
      axios.get('/tournaments/' + this.$route.params.id )
      .then((response) => {
        //Data is sent as a single element array
        this.tournament = response.data[0];
      })
      .catch((error) => {
      })
    },
    data() {
      return {
        tournament: {},
        showRound: 1,
        showFinal: false,
      }
    },
    methods: {
      changeRound(round) {
        this.showRound = round;
      }
    },
    components: {
      TournamentRound
    }
  }
</script>

<style lang="scss" scoped>
</style>