<template>
    <div class="center">
        <label for="title">
            Title
            <input v-model="tournament.title" id="title" type="text" class="settings-input" placeholder="Gem City Tournament">
        </label>
        <label for="date">
            Date
            <input v-model="tournament.date" id="date" type="date" class="settings-input">
        </label>
        <label for="rounds">
            Rounds
            <input v-model="tournament.number_of_rounds" id="rounds" type="number" class="settings-input">
        </label>

        <div>
            <label>Search for Schools
                <input type="text">
            </label>
                <button>Add</button>
        </div>
        <div v-for="school in tournament.invited_schools">
            <p>{{ school.school.name }}</p> <button class="delete"></button>
        </div>
        <button v-on:click="saveTournament">Save Changes</button>
        <button v-on:click="startTournament">Start Tournament</button>
    </div>
</template>

<script>
  export default {
    created() {
      axios.get('/tournaments/'+ this.$route.params.id)
        .then((response) => {
            this.tournament = response.data;
        })
        .catch((error) => {
            console.log(error);
        });
    },
    mounted() {
    },
    data() {
      return {
        tournament: {},
      }
    },

    computed: {},
    methods: {
      saveTournament() {
        axios.put('/tournaments/'+ this.tournament.id, this.tournament)
          .then((response) => {
            console.log(response);
          })
          .catch((error) => {
            console.log(error);
          });
      },

      startTournament() {
        axios.put('/tournaments/' + this.tournament.id, {"started":true})
          .then((response) => {
            console.log(response);
            this.$router.push({ name: 'running_tournament', params: { tournament: this.tournament.id }})
          })
          .catch((error) => {
            console.log(error);
          });

      }
    },
    watch: {}

  }
</script>

<style lang="scss">


    .settings-input {
        display: block;
    }

    .center {
        width: 200px;
        margin: 0 auto;
    }

    span {
        width: 32px;
        height: 32px;
    }

    .delete {
        display: inline;
    }
</style>